@charset "utf-8";

header, nav, article, aside, footer{
    border: 1px solid grey;
    margin: 5px;
    padding: 2px;
}

main{
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-areas:
        "h h h"
        "n a as"
        "f f f";
}

header{
    grid-area: h;
    background: #c3835a;
}

nav{
    grid-area: n;
    background: #72625e;
    display: grid;
    grid-template-rows: 20px 20px 20px;
    padding-left: 5px;
    padding-right: 50px; 
}

nav a{
    color: #fdf3d8;
    text-decoration: none;
}

article{
    grid-area: a;
    background: #fadd8a;
    /*width: 400px;*/
}

aside{
    grid-area: as;
    background: #514a64;
}

section{
    background: #e5ddc7;
    margin: 5px;
}

footer{
    grid-area: f;
    background: #d9b78d;
}

fieldset{
    margin: 5px;
    border-radius: 5px;
}

label {
    float: left;
    width: 100px;
    margin: 5px;
    text-align: right;
}

form br {
    clear: left;
}

textarea {
    width: 60%;
    /*margin-top: 2px;*/
    border-radius: 2px;
}

fieldset input{
    width: 60%;
}

#kuldes{
    float: right;
    width: 65%;
}

#kuldes input{
    width: 90%;
}

#torol{
    width: 30%;
    margin-top: 25px;
    margin-left: 5px;
    margin-bottom: 5px;
}

aside section:nth-child(2) p{
    color: #c58463;
    padding-bottom: 5px;
}

@media only screen and (max-width: 800px){
    main{
        grid-template-areas:
            "h"
            "n"
            "a"
            "as"
            "f";
    }
    fieldset input{
        width: 100%;
        margin-bottom: 5px;
    }
    label {text-align: left;}
    #pioritasCim{width: 60px;}
    #prioritas{margin-top: 5px;}
    textarea {width: 100%;}

    #torol{
        width: 100%;
        margin-top: 5px;
        margin-left: -10px;
    }

    #kuldes{
        float: none;
        width: 50%;
        margin: auto;
    }
    #torles{
        width: 80%;
        margin: auto;
    }
}